* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #252934;
  color: white;
  text-align: center;
  line-height: 1.5;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  padding: 25%;
}

#highlight {
  color: #e31b6d;
}

.btn {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 10px;
}

.btn:hover {
  background: #04c2c9;
}

nav {
  background-color: #1b242f;
  border-bottom: 3px solid #04c2c9;
}

.page-link,
.page-link-active {
  display: inline-block;
  line-height: 4rem;
  color: white;
  margin-left: 50px;
  font-size: 20px;
}
.page-link-active {
  padding-left: 100px;
  color: #e31b6d;
}

.page-link:hover {
  color: #e31b6d;
}

.home {
  margin-left: 9.5rem;
}

.project-container {
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  padding: 100px 0 50px;
  text-decoration: underline;
  color: #45474a;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  height: 140px;
}

.skill-html {
  display: inline;
  position: relative;
  left: 218px;
  color: #414040;
  font-family: "Montserrat", sans-serif;
}

.skill-css {
  display: inline;
  position: relative;
  bottom: 0px;
  left: 475px;
  color: #414040;
  font-family: "Montserrat", sans-serif;
}

.skill-javascript {
  display: inline;
  position: relative;
  bottom: 0px;
  left: 707px;
  color: #414040;
  font-family: "Montserrat", sans-serif;
}

.skill-react {
  display: inline;
  position: relative;
  bottom: 0px;
  left: 920px;
  color: #414040;
  font-family: "Montserrat", sans-serif;
}

.profile {
  height: 400px;
}

.selfie {
  display: inline-block;
  justify-content: left;
  height: 300px;
  padding-top: 100px;
  padding-left: 140px;
  margin: 0px;
}

.question {
  padding-top: 10px;
  padding-left: 180px;
  color: #171717;
  font-family: "Montserrat", sans-serif;
}

.bio {
  display: inline-block;
  position: relative;
  justify-content: right;
  width: 700px;
  left: 380px;
  bottom: 260px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8rem;
}

.fight {
  height: 260px;
  display: inline-block;
  position: relative;
  justify-content: right;
  left: 400px;
  bottom: 210px;
}

.penguin {
  height: 500px;
  display: inline-block;
  position: relative;
  justify-content: left;
  left: 185px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #626262;
}

.penguin-img {
  height: 400px;
  width: 500px;
}

.pikachu {
  height: 500px;
  display: inline-block;
  position: relative;
  justify-content: right;
  left: 275px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #626262;
}

.pikachu-img {
  height: 400px;
  width: 500px;
}

.pacman {
  height: 500px;
  display: inline-block;
  position: relative;
  justify-content: left;
  left: 185px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #626262;
}

.pacman-img {
  height: 400px;
  width: 500px;
}

.memory-game {
  height: 500px;
  display: inline-block;
  position: relative;
  justify-content: left;
  left: 275px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #626262;
}

.memory-img {
  height: 400px;
  width: 500px;
}

#bottom-container {
  text-align: center;
  padding: 50px 0 20px;
  background-color: #252934;
}

.contact {
  height: 200px;
  text-align: center;
  padding: 100px 0 50px;
  text-decoration: underline;
  color: white;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 3rem;
}

.footer-link {
  text-decoration: none;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.footer-link:hover {
  color: #27c1c8;
}

.copyright {
  padding: 20px 0;
  color: #eaf6f6;
  font-family: "Montserrat", sans-serif;
}
